@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  *zoom: 1;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #333;
  height: 100%;
}

a {
  color: #555;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

@font-face {
  font-family: 'fontawesome-selected';
  src: url("/font/fontawesome-selected.eot");
  src: url("/font/fontawesome-selected.eot?#iefix") format("embedded-opentype"),
  		 url("/font/fontawesome-selected.woff") format("woff"),
  		 url("/font/fontawesome-selected.ttf") format("truetype"),
  		 url("/font/fontawesome-selected.svg#fontawesome-selected") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fc-calendar-container {
  position: relative;
  height: 400px;
  width: 400px;
}

.fc-calendar {
  width: 100%;
  height: 100%;
  .fc-head {
    height: 30px;
    line-height: 30px;
    background: #ccc;
    color: #fff;
  }
  .fc-body {
    position: relative;
    width: 100%;
    height: 100%;
    height: -moz-calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
    border: 1px solid #ddd;
  }
  .fc-row {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
}

.fc-four-rows .fc-row {
  height: 25%;
}

.fc-five-rows .fc-row {
  height: 20%;
}

.fc-six-rows .fc-row {
  height: 16.66%;
  height: -moz-calc(100%/6);
  height: -webkit-calc(100%/6);
  height: calc(100%/6);
}

.fc-calendar {
  .fc-row > div, .fc-head > div {
    float: left;
    height: 100%;
    width: 14.28%;
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    position: relative;
  }
}

.fc-calendar {
  .fc-row > div {
    border-right: 1px solid #ddd;
    padding: 4px;
    overflow: hidden;
    position: relative;
  }
  .fc-head > div {
    text-align: center;
  }
  .fc-row > div {
    > span {
      &.fc-date {
        position: absolute;
        width: 30px;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        color: #ddd;
        text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
        bottom: 5px;
        right: 5px;
        text-align: right;
      }
      &.fc-weekday {
        padding-left: 5px;
        display: none;
      }
    }
    &.fc-today {
      background: #fff4c3;
    }
    &.fc-out {
      opacity: 0.6;
    }
    &:last-child {
      border-right: none;
    }
  }
  .fc-head > div:last-child {
    border-right: none;
  }
  .fc-row:last-child {
    border-bottom: none;
  }
}